In [0]:
#from pyspark.sql.functions import col from pyspark.sql.types import IntegerType, DoubleType, BooleanType, DateType
configs = {"fs.azure.account.auth.type": "OAuth",
       "fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
       "fs.azure.account.oauth2.client.id": "109ec562-d6e9-497f-8b9e-9611f4d86473",
       "fs.azure.account.oauth2.client.secret": 'Ytg8Q~WyoljWZ2K4LQ.6.G~xy4iPRUupDqGxEaYl',
       "fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/28c37e3d-cec6-489c-b4d3-5d29c1495084/oauth2/token"}
       #"fs.azure.createRemoteFileSystemDuringInitialization": "true"}

dbutils.fs.mount(
source = "abfss://olympicsrawdata@olympicsmedaldata.dfs.core.windows.net",
mount_point = "/mnt/test",
extra_configs = configs)

True

In [0]:
%fs 
ls "/mnt/test"

path,name,size,modificationTime
dbfs:/mnt/test/EntriesGender.csv,EntriesGender.csv,1491,1707592872000
dbfs:/mnt/test/Medals.csv,Medals.csv,3716,1707592857000
dbfs:/mnt/test/Teams.csv,Teams.csv,41252,1707579842000
dbfs:/mnt/test/athelete.csv,athelete.csv,484966,1707579786000
dbfs:/mnt/test/coaches.csv,coaches.csv,19761,1707579805000

In [0]:
spark

In [0]:
athletes = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/test/athelete.csv") 
coaches = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/test/coaches.csv")
entriesgender = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/test/EntriesGender.csv")
medals = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/test/Medals.csv") 
teams = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/test/Teams.csv")

In [0]:
#athletes = spark.read.format("csv").option("header","true").load("/mnt/test/athelete.csv")
athletes.show(5)
coaches.show(5)
entriesgender.show(5)
medals.show(5)
teams.show(5)
#athletes.info()

+-----------------+-------+-------------------+
|       PersonName|Country|         Discipline|
+-----------------+-------+-------------------+
|  AALERUD Katrine| Norway|       Cycling Road|
|      ABAD Nestor|  Spain|Artistic Gymnastics|
|ABAGNALE Giovanni|  Italy|             Rowing|
|   ABALDE Alberto|  Spain|         Basketball|
|    ABALDE Tamara|  Spain|         Basketball|
+-----------------+-------+-------------------+
only showing top 5 rows

+---------------+-------------+----------+-----+
|           Name|      Country|Discipline|Event|
+---------------+-------------+----------+-----+
|ABDELMAGID Wael|        Egypt|  Football| NULL|
|      ABE Junya|        Japan|Volleyball| NULL|
|  ABE Katsuhiko|        Japan|Basketball| NULL|
|   ADAMA Cherif|Cï¿½te d'Ivoire|  Football| NULL|
|     AGEBA Yuya|        Japan|Volleyball| NULL|
+---------------+-------------+----------+-----+
only showing top 5 rows

+-------------------+------+----+-----+
|         Discipline|Female|Male|Total|
+-------------------+------+----+-----+
|     3x3 Basketball|    32|  32|   64|
|            Archery|    64|  64|  128|
|Artistic Gymnastics|    98|  98|  196|
|  Artistic Swimming|   105|   0|  105|
|          Athletics|   969|1072| 2041|
+-------------------+------+----+-----+
only showing top 5 rows

+----+--------------------+----+------+------+-----+-------------+
|Rank|        Team_Country|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
+----+--------------------+----+------+------+-----+-------------+
only showing top 5 rows

+--------+--------------+--------------------+-----+
|TeamName|    Discipline|             Country|Event|
+--------+--------------+--------------------+-----+
| Belgium|3x3 Basketball|             Belgium|  Men|
|   China|3x3 Basketball|People's Republic...|  Men|
|   China|3x3 Basketball|People's Republic...|Women|
|  France|3x3 Basketball|              France|Women|
|   Italy|3x3 Basketball|               Italy|Women|
+--------+--------------+--------------------+-----+
only showing top 5 rows

In [0]:

import pandas as pd
athletesdf = athletes.toPandas()
medalsdf = medals
athletesdf.head(2)

        PersonName Country           Discipline
0  AALERUD Katrine  Norway         Cycling Road
1      ABAD Nestor   Spain  Artistic Gymnastics

In [0]:
athletes.printSchema()

root
 |-- PersonName: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)

In [0]:
coaches.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
teams.printSchema()

root
 |-- TeamName: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
medals.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Team_Country: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Rank by Total: integer (nullable = true)

In [0]:
entriesgender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

In [0]:
#Top gold medalcountries
# Find the top countries with the highest number of gold medals
#top_gold_medal_countries = medals.orderBy("Gold", ascending=False).select("Team_Country","Gold").show()
top_gold_medal_countries_group = medals.orderBy("Gold",ascending=False).select("Team_Country","Gold").show()

+--------------------+----+
|        Team_Country|Gold|
+--------------------+----+
|United States of ...|  39|
|People's Republic...|  38|
|               Japan|  27|
|       Great Britain|  22|
|                 ROC|  20|
|           Australia|  17|
|         Netherlands|  10|
|              France|  10|
|             Germany|  10|
|               Italy|  10|
|                Cuba|   7|
|         New Zealand|   7|
|              Brazil|   7|
|              Canada|   7|
|             Hungary|   6|
|   Republic of Korea|   6|
|               Kenya|   4|
|              Poland|   4|
|      Czech Republic|   4|
|              Norway|   4|
+--------------------+----+
only showing top 20 rows

In [0]:
# Calculate the average number of entries by gender for each discipline 
average_entries_by_gender = entriesgender.withColumn( 'Avg_Female', entriesgender['Female'] / entriesgender['Total'] ).withColumn( 'Avg_Male', entriesgender['Male'] / entriesgender['Total'] ) 
average_entries_by_gender.show()

+--------------------+------+----+-----+-------------------+-------------------+
|          Discipline|Female|Male|Total|         Avg_Female|           Avg_Male|
+--------------------+------+----+-----+-------------------+-------------------+
|      3x3 Basketball|    32|  32|   64|                0.5|                0.5|
|             Archery|    64|  64|  128|                0.5|                0.5|
| Artistic Gymnastics|    98|  98|  196|                0.5|                0.5|
|   Artistic Swimming|   105|   0|  105|                1.0|                0.0|
|           Athletics|   969|1072| 2041| 0.4747672709456149| 0.5252327290543851|
|           Badminton|    86|  87|  173|0.49710982658959535| 0.5028901734104047|
|   Baseball/Softball|    90| 144|  234|0.38461538461538464| 0.6153846153846154|
|          Basketball|   144| 144|  288|                0.5|                0.5|
|    Beach Volleyball|    48|  48|   96|                0.5|                0.5|
|              Boxing|   102| 187|  289|0.35294117647058826| 0.6470588235294118|
|        Canoe Slalom|    41|  41|   82|                0.5|                0.5|
|        Canoe Sprint|   123| 126|  249| 0.4939759036144578| 0.5060240963855421|
|Cycling BMX Frees...|    10|   9|   19| 0.5263157894736842|0.47368421052631576|
|  Cycling BMX Racing|    24|  24|   48|                0.5|                0.5|
|Cycling Mountain ...|    38|  38|   76|                0.5|                0.5|
|        Cycling Road|    70| 131|  201| 0.3482587064676617| 0.6517412935323383|
|       Cycling Track|    90|  99|  189|0.47619047619047616| 0.5238095238095238|
|              Diving|    72|  71|  143| 0.5034965034965035| 0.4965034965034965|
|          Equestrian|    73| 125|  198| 0.3686868686868687| 0.6313131313131313|
|             Fencing|   107| 108|  215|0.49767441860465117| 0.5023255813953489|
+--------------------+------+----+-----+-------------------+-------------------+
only showing top 20 rows

In [0]:
athletes.repartition(1).write.mode("overwrite").option("header",'true').csv("/mnt/tokyoolymic/transformed-data/athletes")

In [0]:
#from pyspark.sql.functions import col from pyspark.sql.types import IntegerType, DoubleType, BooleanType, DateType
configs = {"fs.azure.account.auth.type": "OAuth",
       "fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
       "fs.azure.account.oauth2.client.id": "109ec562-d6e9-497f-8b9e-9611f4d86473",
       "fs.azure.account.oauth2.client.secret": 'Ytg8Q~WyoljWZ2K4LQ.6.G~xy4iPRUupDqGxEaYl',
       "fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/28c37e3d-cec6-489c-b4d3-5d29c1495084/oauth2/token"}
       #"fs.azure.createRemoteFileSystemDuringInitialization": "true"}

dbutils.fs.mount(
source = "abfss://olympicstransformeddata@olympicsmedaldata.dfs.core.windows.net",
mount_point = "/mnt/test1",
extra_configs = configs)

True

In [0]:
%fs 
ls "/mnt/test1"

In [0]:
athletes.repartition(1).write.mode("overwrite").option("header",'true').csv("/mnt/test1/olympicstransformeddata/athletes")
athletes.repartition(1).write.mode("overwrite").option("header",'true').csv("/mnt/test1/olympicstransformeddata/medals")
athletes.repartition(1).write.mode("overwrite").option("header",'true').csv("/mnt/test1/olympicstransformeddata/teams")
athletes.repartition(1).write.mode("overwrite").option("header",'true').csv("/mnt/test1/olympicstransformeddata/entriesgender")
athletes.repartition(1).write.mode("overwrite").option("header",'true').csv("/mnt/test1/olympicstransformeddata/coaches")

In [0]:
import pandas as pd
athletesdf = athletes.toPandas()
medalsdf = medals.toPandas()
teamsdf = teams.toPandas()
coachesdf = coaches.toPandas()
entriesgenderdf = entriesgender.toPandas()

In [0]:
athletesdf.head(2)

        PersonName Country           Discipline
0  AALERUD Katrine  Norway         Cycling Road
1      ABAD Nestor   Spain  Artistic Gymnastics

In [0]:
medalsdf.head(2)

   Rank                Team_Country  Gold  Silver  Bronze  Total  Rank by Total
0     1    United States of America    39      41      33    113              1
1     2  People's Republic of China    38      32      18     88              2

In [0]:
teamsdf.head(2)

  TeamName      Discipline                     Country Event
0  Belgium  3x3 Basketball                     Belgium   Men
1    China  3x3 Basketball  People's Republic of China   Men

In [0]:
coachesdf.head(2)

              Name Country  Discipline Event
0  ABDELMAGID Wael   Egypt    Football  None
1        ABE Junya   Japan  Volleyball  None

In [0]:
entriesgenderdf.head(2)

       Discipline  Female  Male  Total
0  3x3 Basketball      32    32     64
1         Archery      64    64    128

In [0]:
athletesdf.columns
athletesdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11085 entries, 0 to 11084
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PersonName  11085 non-null  object
 1   Country     11085 non-null  object
 2   Discipline  11085 non-null  object
dtypes: object(3)
memory usage: 259.9+ KB

In [0]:
medalsdf.columns
medalsdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           93 non-null     int32
 1   Team_Country   93 non-null     object
 2   Gold           93 non-null     int32
 3   Silver         93 non-null     int32
 4   Bronze         93 non-null     int32
 5   Total          93 non-null     int32
 6   Rank by Total  93 non-null     int32
dtypes: int32(6), object(1)
memory usage: 3.0+ KB

In [0]:
teamsdf.columns
teamsdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743 entries, 0 to 742
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TeamName    743 non-null    object
 1   Discipline  743 non-null    object
 2   Country     743 non-null    object
 3   Event       743 non-null    object
dtypes: object(4)
memory usage: 23.3+ KB

In [0]:
coachesdf.columns
coachesdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        394 non-null    object
 1   Country     394 non-null    object
 2   Discipline  394 non-null    object
 3   Event       249 non-null    object
dtypes: object(4)
memory usage: 12.4+ KB

In [0]:
entriesgenderdf.columns
entriesgenderdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Discipline  46 non-null     object
 1   Female      46 non-null     int32
 2   Male        46 non-null     int32
 3   Total       46 non-null     int32
dtypes: int32(3), object(1)
memory usage: 1.0+ KB

In [0]:
coachesdf['Event'].value_counts()
coachesdf['Event'].isnull().sum()
entriesgenderdf.isnull().sum()
coachesdf.isnull().sum()
athletesdf.isnull().sum()
teamsdf.isnulll().sum()
entriesgenderdf.isnull().sum()

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-3350076977963576>, line 6
      4 coachesdf.isnull().sum()
      5 athletesdf.isnull().sum()
----> 6 teamsdf.isnulll().sum()
      7 entriesgenderdf.isnull().sum()

File /databricks/python/lib/python3.10/site-packages/pandas/core/generic.py:5575, in NDFrame.__getattr__(self, name)
   5568 if (
   5569     name not in self._internal_names_set
   5570     and name not in self._metadata
   5571     and name not in self._accessors
   5572     and self._info_axis._can_hold_identifiers_and_holds_name(name)
   5573 ):
   5574     return self[name]
-> 5575 return object.__getattribute__(self, name)

AttributeError: 'DataFrame' object has no attribute 'isnulll'